{% extends 'LookAppBundle::look_layout.html.twig' %}

{% block title %} Login {% endblock %}

{% block content %}

	<div align=center>
	<form action="{{ path('account_login') }}" method="POST" id="login_form">
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        {{ form_rest(form) }}
        <input type="submit" value="Send" class="symfony-button-grey" />
    </form>
	</div>

{% endblock %}
