{% extends 'LookAppBundle::look_layout_center.html.twig' %}

{% block title %} Login {% endblock %}

{% block content %}

	<form action="{{ path('account_register') }}" method="POST" id="register_form">
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
		{{ form_row(form.email) }}
		{{ form_row(form.phone_number) }}
		{{ form_row(form.first_name) }}
		{{ form_row(form.last_name) }}
		{{ form_row(form.gender) }}
		
		{{ form_row(form.address) }}
		
		{{ form_rest(form) }}
        <input type="submit" value="Send" class="symfony-button-grey" />
    </form>

{% endblock %}
