{% form_theme form 'LookAppBundle:Form:custom_form_layout.html.twig' %}
{% extends 'LookAppBundle::look_layout_center.html.twig' %}

{# initialize variables #}
{% set menu_selected = 'account' %}

{% block title %} Change Password {% endblock %}

{% block content %}
    <div class="form_wrapper">
    <form action="{{ path('account_updatePassword') }}" method="POST" id="change_pass_form">
        {{ form_errors(form) }}

        {{ form_row(form.password.password) }}
        {{ form_row(form.password.confirm) }}
        
        {{ form_rest(form) }}
        <input type="submit" value="Send" class="" />
    </form>
    </div>

{% endblock %}
